header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #432660;
    color: #fff;
    padding: 0 3rem;
}
input {
    border-radius: 4px;
    padding: .8rem 1.6rem;
    background-color: #262527;
    border: none;
    color: #fff;
    font-size: 1rem;
    outline: none;
}
input::placeholder {
    color: #fff;
}